body {
  padding: 5rem;
}
a {
  color: #00b7ff;
}
h5,
footer,
a {
  margin-top: 4rem;
}
input + label {
  margin-right: 2rem;
}
input + output {
  margin-left: 2rem;
}
.center {
  text-align: center;
}
input[type="range"] {
  width: 80%;
}
